<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SonicTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SonicTracker.Properties.Settings>
            <setting name="SonicTheHedgehog1CheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicTheHedgehog2CheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicCDCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="Sonic3AndKnucklesCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicAndTailsCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicAndTails2CheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="KnucklesChaotixCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="TailsAdventureCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicBlastCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="Sonic3DBlastCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="PreferredFraction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SonicPocketAdventureCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicAdventureCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicAdventure2CheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicAdvanceCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicAdvance2CheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicHeroesCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicAdvance3CheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicRushCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="ShadowTheHedgehogCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="Sonic06CheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicRushAdventureCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicSecretRingsCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicUnleashedPS2CheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicUnleashedPS3CheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicBlackNightCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="Sonic4E1CheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicColorsCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicGenerationsCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="Sonic4E2CheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicLostWorldCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicBoomLyricCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicBoomShatteredCrystalCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicBoomFireIceCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicManiaCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicForcesCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicColorsUltimateCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicFrontiersCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicSuperstarsCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicDreamTeamCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicShadowGenerationsCheckedItems" serializeAs="String">
                <value />
            </setting>
        </SonicTracker.Properties.Settings>
    </userSettings>
</configuration>