<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SonicTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SonicTracker.Properties.Settings>
            <setting name="SonicTheHedgehog1CheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicTheHedgehog2CheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicCDCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="Sonic3AndKnucklesCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicAndTailsCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicAndTails2CheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="KnucklesChaotixCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="TailsAdventureCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicBlastCheckedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="Sonic3DBlastCheckedItems" serializeAs="String">
                <value />
            </setting>
        </SonicTracker.Properties.Settings>
    </userSettings>
</configuration>